/*CSS global*/
* {
  margin:0;
  padding: 0;
  box-sizing: border-box; /*limitar input à largura da div*/
  font-family: 'Roboto', sans-serif;
}

body {
  background-color:#01112c;

  /* BEGIN: para alinhar o content ao centro */
  display: flex; 
  justify-content: center;
  align-items: center;
  /* END: para alinhar o content ao centro */
  min-height: 100vh;
  color:#fefefe
}